# Ignore node_modules directory
/node_modules
node_modules

# Ignore build artifacts (e.g., from Create React App)
/build
/dist

# Exclude .env files (if you store them in the root)
.env*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.*
