.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  flex: 1;
  background-color: #f5f5f5;
  padding: 20px;
  overflow-y: auto;
}

.professional-chat {
  flex: 3;
  border-left: 1px solid #e0e0e0;
  padding: 20px;
  position: relative;
}

.messages-list {
  overflow-y: auto;
  height: calc(100vh - 140px);
  margin-bottom: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  background-color: white;
}

.message {
  margin: 8px 0;
}

.message.doctor {
  text-align: right;
  background-color: #d5effc !important;
}

.message.patient {
  background-color: #eef2e6 !important;
}

.message.doctor > div {
  display: inline-block;
  background-color: #d5effc !important;
  padding: 10px;
  border-radius: 5px;
  margin-left: 50%;
}

.message.patient > div {
  display: inline-block;
  background-color: #eef2e6 !important;
  padding: 10px;
  border-radius: 5px;
  margin-right: 50%;
}

.send-message {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send-message input {
  flex: 3;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.send-message button {
  flex: 1;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.send-message button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .professional-chat,
  .sidebar {
    flex: 1;
  }

  .messages-list {
    height: calc(100vh - 230px);
  }
}
